<p>
  <%= link_to 'Search Again', root_path %>
  <%= link_to 'Previous', "/search?query=#{params[:query]}&page=#{@page - 1}" unless @page <= 1 %>
  <%= link_to 'Next', "/search?query=#{params[:query]}&page=#{@page + 1}" %><% @images.each do |image| %>
</p>
  <%= image_tag FlickRaw.url_z image %>
<% end %>
<p>
  <%= link_to 'Previous', "/search?query=#{params[:query]}&page=#{@page - 1}" unless @page <= 1 %>
  <%= link_to 'Next', "/search?query=#{params[:query]}&page=#{@page + 1}" %>
</p>